* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body,
button,
input {
  font: inherit;
}

button,
input {
  border: 0;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
p {
  margin: 0;
}
